In [1]:
import pandas as pd

In [2]:
#Q1
pd.__version__

'1.5.3'

In [23]:
data = pd.read_csv(r'laptops.csv')
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [32]:
data.columns = data.columns.str.lower().str.replace(' ','_')

In [15]:
#Q2
len(data)

2160

In [33]:
data.head()

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [34]:
#Q3
data.brand.nunique()

27

In [35]:
#Q4
data.isnull().sum()

laptop             0
status             0
brand              0
model              0
cpu                0
ram                0
storage            0
storage_type      42
gpu             1371
screen             4
touch              0
final_price        0
dtype: int64

In [58]:
#Q5

data[data.brand == 'Dell'].sort_values(by='final_price', ascending=False).head(1)['final_price'].values[0]

3936.0

In [73]:
data.screen.isnull().sum()

4

In [74]:
#Q6

medain_screen_value = data.screen.median()
mode_screen_value = data.screen.mode()[0]
print(f"The mode is : {mode_screen_value}, the median is {medain_screen_value}, and the total null values is {data.screen.isnull().sum()}")
data['screen'].fillna(mode_screen_value,inplace=True)
print(f"The mode is : {mode_screen_value},the median is {medain_screen_value}, and the total null values is {data.screen.isnull().sum()}")

The mode is : 15.6, the median is 15.6, and the total null values is 4
The mode is : 15.6,the median is 15.6, and the total null values is 0

In [87]:
brands = list(data.brand.unique())
"Innjoo" in brands

True

In [93]:
data.columns

Index(['laptop', 'status', 'brand', 'model', 'cpu', 'ram', 'storage',
       'storage_type', 'gpu', 'screen', 'touch', 'final_price'],
      dtype='object')

In [106]:
import numpy as np

def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]
    
    n = u.shape[0]
    
    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]
    
    return result

def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]
    
    num_rows = U.shape[0]
    
    result = np.zeros(num_rows)
    
    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)
    
    return result

def matrix_matrix_multiplication(U, V):
    assert U.shape[1] == V.shape[0]
    
    num_rows = U.shape[0]
    num_cols = V.shape[1]
    
    result = np.zeros((num_rows, num_cols))
    
    for i in range(num_cols):
        vi = V[:, i]
        Uvi = matrix_vector_multiplication(U, vi)
        result[:, i] = Uvi
    
    return result

In [129]:
#Q7

injoo = data[data.brand =='Innjoo']
X = np.array(injoo[['ram','storage','screen']])
XTX = matrix_matrix_multiplication(X.T,X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [120]:
y = np.array([1100,1300,800,900,1000,1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [130]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [126]:
XTX_inv.shape

(3, 3)

In [127]:
X.T.shape

(3, 6)

In [134]:
w = sum(np.dot(np.dot(XTX_inv,X.T),y))
w

91.2998806299555